- breadcrumb :request, [@client, @request]
%p
  %strong
    = t('views.requests.show.title')
  %br
    = t('views.requests.show.name')
  %br
  = @request.title
  %br
  %br
    = t('views.requests.show.body')
  %br
  = @request.body
  %br
  = link_to t('views.requests.show.buttons.back'), @client, class: 'btn btn-warning'
  = link_to t('views.requests.show.buttons.destroy'), [@client, @request], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'

